<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Rufydahmarternityhome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/P-home.CSS">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
        <meta http-equiv="X-UA-compatible" content="ie=edge">
    </head>
    <body>
        <header class="header">
            <div class="menu_div">
                <button class="menu_icon" id="menu_icon"><i class="bx bx-menu"></i></button>
            <img src="/images/logo.png" alt=" logo">
            </div>
            <p>RUFAYDAH MATERNITY HOME </p>
            <div class="SandP">
                
                
               
                <div class="dropdown_notify">
                    <div  class="notify_btn"><i class="bx bxs-bell"></i></div> 
                    <div id="dropdown_notify_content" class="dropdown_notify_content">
                        
                    </div>
                </div>

                 
                    
                   
                
                <div class="dropdown_profile">
                    <div id="profile_preview" class="profile_btn"></div>
                    <div class="dropdown_profile_content">
                        <p id="patientName"></p>
                        <p id="patientEmail"></p>
                        <a href="#" class="log_out">Log-out</a>
                    </div>
                </div>
               
                  
            
                </div>
           
        </header>
        <main >
            <nav id="nav">
                <div class="nav_body">
                
                    <ul class="first_nav">
                        <li class="home">
                        <a href="/patientHome"><i class="bx bxs-home-smile"></i> Home</a>
                        </li>
                        <li class="appointment">
                            <a href="/appointment/bookAppointment"><i class="bx bx-plus-medical"></i> Appointment</a>
                        </li>                        
                        <li>
                            <a href="/appointment/patientBookedAppointment"><i class="bx bxs-comment-dots"></i> Booked</a>
                        </li>
                        <li>
                            <a href="/patientmap"><i class=" bx bxs-map"></i> Map</a>
                        </li>
                        
                    </ul>
                    
                   
                    <ul class="second_nav">
                        <li>
                        <a href="/patientContact"><i class="bx bx-phone"></i>Contact</a>
                        </li>
                    </ul>
                   
                </div>
            </nav>
            <article class="content">
                <div class="left-detail">
                    <p class="headp">
                        Easy-to-use, cost-effective, secure<br> and trusted telemedicine <br> services.
                    </p>
                    <p class="detail">
                        We've made telemedicinesimple and easy for you. Welcome to your personal<br> room, book appoinment with any provider of your choice.
    
                    </p>
                    <form class="mainform">
                        <button type="button" id="book"><a href="/appointment/bookAppointment">Book Appointment </a> </button>
                        
                    </form>
                </div>
            </article>
   
        </main>

        <script src="/js/patient.js"></script>
    </body>
</html>